{
    "plugins": [
        [
            "transform-runtime",
            {
                "regenerator": true
            }
        ]
    ],
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "8.10"
                }
            }
        ],
        "react",
        "stage-0"
    ]
}